@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.path{
  border-radius: 14% 86% 22% 78% / 55% 32% 68% 45% ;
}

.border-animate{
  animation: borderTop 1s linear infinite;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}